<template>
  <div class="challenge">
    <div class="wrapper">
      <h1>To do</h1>
      <p v-if="state === 'loading'">Loading...</p>
      <p v-else-if="state === 'failed'">Error fetching data</p>
      <div 
        v-else-if="state === 'loaded'"  
        class="items"
      >
        <TaskDisplay
          v-for="task in tasks"
          :key="task.tasksId"
          :task="task"
        />
          <TaskInput :addTask="addTask"/>
      </div>
    </div>
  </div>
</template>

<script setup lang="ts">
import TaskDisplay from './TaskDisplay.vue';
import TaskInput from './TaskInput.vue';
import type { Task } from '../utils/types';

/* composables */
import { useGetTasks } from '../composables/useGetTasks';

const { tasks, state } = useGetTasks();

const addTask = (newTask: Task) => {
  tasks.value.push(newTask);
};

</script>

<style lang="scss">
.challenge {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  .wrapper {
    width: 350px;

    h1 {
      padding: 0px 20px;
      color: var(--color-heading);
      font-weight: 800;
      font-size: var(--fs-5);
    }
    
    .items {
      padding-top: var(--space-3);
      display: flex;
      flex-direction: column;
      gap: var(--space-2);
    }

    .new-task-input {
      color: var(--color-text);
      background-color: var(--theme-c-soft-blue);
      font-size: var(--fs-3);
      font-weight: 500;
      box-shadow: var(--box-shadow-1);
      padding: var(--space-2) var(--space-3);
      border-radius: var(--border-radius-1);
      border: 1px solid var(--theme-c-soft-black-transparent);
      outline: none;
      font-style: italic;
      width: 100%;
    }

    .custom-input {
      display: flex;
      position: relative;
    }
  }

  .relative-container {
    position: relative;
  
    .task-add-button {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      width: 50px; /* Adjust as needed */
      border-radius: var(--border-radius-1);
      background-color: #ffffff; /* Example background color */
      color: var(--theme-c-soft-black);
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 8px;
      cursor: pointer;
      box-shadow: var(--box-shadow-1);
    }

    .add-font {
      letter-spacing: 1px;
      font-weight: 600;
      font-size: 14px;
    }
  }
}
</style>
