<template>
  <div class="task-input">
    <div class="relative-container">
      <div class="custom-input">
        <input 
          class="new-task-input"
          :style="{ fontStyle: isInputFocused ? 'normal' : 'italic' }"
          v-model="newTaskText"
          :placeholder="isInputFocused ? '' : 'Add A New Task...'"
          @focus="isInputFocused = true"
          @blur="isInputFocused = false"
        />
        <div class="task-add-button" @click="addNewTask">
          <div class="add-font">ADD</div>
        </div>
      </div>
    </div>
    <!-- index.html -->
  </div>
</template>

<script setup lang="ts">
import { ref, defineProps } from 'vue';
import { useSubmitTask } from '../composables/useSubmitTask';

const { addTask } = defineProps(['addTask']);
const { submitTasks } = useSubmitTask()

const newTaskText = ref('');
const isInputFocused = ref(false);

const addNewTask = () => {
  if (newTaskText.value.trim() !== '') {
    // Create a new task with the entered text
    const newTask = {
      tasksId: Date.now(), // or generate a unique ID in some other way
      content: newTaskText.value,
      isComplete: false,
    };

    // Add the new task to the tasks array
    addTask(newTask);
    submitTasks(newTask)
    // Clear the input field
    newTaskText.value = '';
  }
};
</script>
